@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* General Reset and Font */
*, html {
    font-family: "Fira Code", monospace;
    color: white;
}

/* Body & Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: indigo;
}

.container {
    width: 40%;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    grid-gap: 0.5em;
}

.logo > img {
    width: 40px;
    height: 40px;
}

.logo > .username, header > .title {
    padding: 5px 10px;
    background: #9d03fc;
    color: white;
    font-weight: bold;
    display: inline;
    font-size: 14px;
}

.logo > .username {
    background: #0000ff;
}

/* Navigation */
nav {
    display: flex;
    grid-gap: 1.5em;
    margin: 1em 0;
}

a {
    color: #ffd369;
    text-decoration: none;
}

h1.name, nav a.active {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
}

/* Main Section */
main {
    border-left: 10px solid #9d03fc;
    padding: 0 1em;
}

.art img {
    width: 50%;
    height: auto;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

input, textarea {
    padding: 10px;
    background-color: #333;
    border: 2px solid #9d03fc;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    width: 70%;
}

input:focus, textarea:focus {
    outline: none;
    border-color: hotpink;
    background-color: #444;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

button {
    padding: 10px;
    background-color: #9d03fc;
    color: white;
    border: none;
    font-size: 14px;
    width: 70%;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

button:focus {
    outline: none;
}

/* Animation */
.muter {
    animation-name: rotate-center;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Paragraphs */
p {
    letter-spacing: normal;
}
