@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*, html{
	font-family: "Fira Code", monospace;
	color: white;
}

h1.name, nav a.active{
	text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
}

p{
	letter-spacing: normal;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	background: indigo;
}

.container{
	width: 40%;
	padding: 1em;
}

.logo{
	display: flex;
	align-items: center;
	grid-gap: 0.5em;
}

.logo > img{
	width: 40px;
	height: 40px;
}

.logo > .username, header > .title{
	padding: 5px 10px;
	background: #9d03fc;
	color: white;
	font-weight: bold;
	display: inline;
	font-size: 14px;
}

.logo > .username{
	background: #0000ff;
}

nav{
	display: flex;
	grid-gap: 1.5em;
	margin: 1em 0;
}

a{
	color: #ffd369;
	text-decoration: none;
}

main{
	border-left: 10px solid #9d03fc;
	padding: 0 1em;
}

.art img{
	width: 50%;
	height: auto;
}

@media screen and (max-width: 768px){
	.container{
		width: 100%;
	}
}

 .muter {
    animation-name: rotate-center;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    }
    @keyframes rotate-center {
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }